# Laravel & PHP
/vendor
/vendor/
/storage/*.key
/storage/pail
/bootstrap/compiled.php
/app/storage

# Environment Files
.env
.env.backup
.env.production

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE & Editor folders
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Node
/node_modules
node_modules/
npm-debug.log
yarn-error.log

# Laravel specific
public/storage
public/hot
public/build

public_html/storage
public_html/hot

# Other configs
Homestead.yaml
Homestead.json
/.vagrant
auth.json
/auth.json
.phpactor.json
