#toast-container > div {
    color: #ffffff !important;   /* text visible */
    opacity: 1 !important;
    z-index: 999999 !important;
}

.toast-success {
    background-color: #ed701b !important;
}

.toast-error {
    background-color: #ed701b !important;
}

#toast-container {
    z-index: 999999 !important;
}

.pagination {
    margin-bottom: 0;
}

/* - SIDRE BAR SETUP  */



/* Sidebar link base style (Jo aapne pehle likhi thi) */
.sidebar .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 18px;
    margin: 4px 10px;
    border-radius: 10px;
    white-space: nowrap;
    transition: all 0.2s ease;
    text-decoration: none; /* underline hatane ke liye */
    color: #6c757d;        /* Default grey color */
}

.sidebar {
    padding: 12px 0;   /* top-bottom space */
}


.sidebar .nav-link:hover {
    background-color: #f4f6f9;
}

.sidebar .menu-icon {
    font-size: 20px;
    min-width: 22px;           /* sab icons ek line me */
    text-align: center;
}

.nav-divider {
    height: 1px;
    background-color: #e5e7eb;
}

/* SIDE BAR END CSS */